# EmailJS credentials (server-side only, NOT exposed to browser)
# These are used by the /api/contact endpoint to send emails
EMAILJS_SERVICE_ID=service_rt8xi0z
EMAILJS_TEMPLATE_ID=template_6pm2kgy
EMAILJS_PUBLIC_KEY=bgNhdCASRdYmEu4xr
EMAILJS_PRIVATE_KEY=JOb9RnF43oHD-9Mb_xe5C
EMAILJS_SUBSCRIBE_TEMPLATE_ID=template_cod7ag9
EMAILJS_SUBSCRIBE_SERVICE_ID=service_0n7u9ra
PORT=3002

